.carousel-content {
  position: absolute;
  top: 20%;
  right: 15%;
  z-index: 20;
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,0.6);
  font-family: serif;
}

li a{
	font-weight: bold;
	color: white;
}

.bd-example img{
	height: 660px;
	width: 100%;
	object-fit:
}

.carousel-caption h2{
  font-weight: bold;
  z-index: 40;
  font-size: 60px;
  text-shadow: 0 1px 2px rgba(0,0,0,0.6);
  font-family: serif;
}


